<section class="slice slice-lg bg-section-secondary">
  <div class="container">
    <div class="mb-5 text-center">
      <h3 class=" mt-4">Minifier vos URLs</h3>
      <p class="lead lh-180">Entrez votre URL ci-dessous afin de la transformer en une superbe URL courte en 1 clic !</p>
      <div class="fluid-paragraph mt-3">
          <div class="form-group">
            <%= form_tag(static_pages_index_path, method: :get) do %>
              <%= text_field_tag 'url', nil, class: 'form-control', placeholder: 'http://highflyers.agency/' %>

              <%= submit_tag 'Convertir', name: nil, class: "btn btn-success  hover-scale-110 mt-4" %>
            <% end %>
        </div>
      </div>
      <%= link_to "Refresh la page", "/", class: "btn btn-warning float-right hover-scale-110" %>
      <table class="table table-dark mt-7">
        <thead>
        <tr>
          <th>Key</th>
          <th>User</th>
          <th>Compteur</th>
          <th>URL</th>
          <th colspan="5"></th>
        </tr>
        </thead>
        <tbody>
        <% @urls.order(id: :desc).each do |url| %>
          <tr>
            <td><%= "#{request.protocol}#{request.host_with_port}#{request.fullpath}#{url.unique_key}" %></td>
            <td><%= url.owner_id %></td>
            <td><%= url.use_count %></td>
            <td><%= url.url %></td>
            <td><%= link_to "Visitez le lien", "/" + url.unique_key, target: "_blank", class: "btn btn-primary  hover-translate-y-n3" %></td>
          </tr>
        <% end %>
        </tbody>
      </table>

    </div>
  </div>
</section>