<!DOCTYPE html>
<html>
  <head>
    <title>Shorter</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render 'layouts/addon' %>

  </head>

  <body>
  <div id="container">
    <div id="body">
  <%= render 'layouts/header' %>
  <%= render 'layouts/flash'%>
  <%= yield %>
    </div >
  </div >

  </body>
</html>
